@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0ea5e9;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply text-gray-900;
  font-feature-settings: 'cv11', 'ss01';
  font-variant-numeric: tabular-nums;
}

/* 隐藏滚动条但保留滚动 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
